1. patient 데이터셋 정보
- id: 확진자의 id (n번째 확진자)
- sex: 성별
- birth_year: 출생 연도
- country: 국적
- region: 주 활동 지역 (광역시/도 단위)
- group: 특정 집단 관련
- infection_reason: 감염 경로
- infection_order: 감염 차수 (n차 감염)
- infected_by: 해당 확진자의 감염원 id
- contact_number: 접촉자 수
- confirmed_date: 확진 일자
- released_date: 퇴원 일자 (격리 해제 일자)
- deceased_date: 사망 일자
- state: 상태

2. route 데이터셋 정보
- id: 확진자의 id (n번째 확진자)
- date: 일자
- province: 특별시/광역시/도
- city: 시/군/구
- visit: 방문한 장소 (종류)
- latitude: 위도
- longitude: 경도

3. time 데이터셋 정보
- date: 일자
- acc_test: 누적 검사 수 (진행 중인 검사 포함)
- acc_negative: 누적 음성 결과 수
- acc_confirmed: 누적 양성 결과 수 (확진)
- acc_released: 누적 격리 해제 수
- acc_deceased: 누적 사망 수
- new_test: 신규 검사 수
- new_negative: 신규 음성 결과 수
- new_confirmed: 신규 양성 결과 수 (확진)
- new_released: 신규 격리 해제 수

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving covid-19-seoul.csv to covid-19-seoul (1).csv
User uploaded file "covid-19-seoul.csv" with length 38987 bytes

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


sns.set(font = "MalgunGothic")
sns.set(font = "AppleGothic")

plt.rc("axes", unicode_minus=False)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [7]:
# Load Dataset

data = pd.read_csv('covid-19-seoul.csv')
data.head()

    연번    환자    확진일 성별(출생년)   거주지 여행력        접촉력   조치사항
0  494  9949  4.01.  여('68)   양천구   -  구로구 교회 관련      -
1  493   확인중  4.01.  남('65)  영등포구   -   #8271 접촉      -
2  492  9931  4.01.  남('01)    고양  미국    해외접촉 추정    타시도
3  491  9911  4.01.  여('95)   광진구  영국    해외접촉 추정  서울의료원
4  490   확인중  4.01.  여('32)  서대문구  미국    해외접촉 추정  서울의료원

In [8]:
data.tail()

     연번 환자    확진일 성별(출생년)  거주지     여행력    접촉력         조치사항
490   5  9  1.31.  여(‵92)  성북구       -  #5 접촉    서울의료원(퇴원)
491   4  7  1.30.  남(‵91)  마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
492   3  6  1.30.  남(‵64)  종로구       -  #3 접촉  서울대학교병원(퇴원)
493   2  5  1.30.  남(‵87)  중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
494   1  2  1.23.  남(‵64)  강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       495 non-null    int64
 1   환자       495 non-null    object
 2   확진일      495 non-null    object
 3   성별(출생년)  495 non-null    object
 4   거주지      495 non-null    object
 5   여행력      495 non-null    object
 6   접촉력      495 non-null    object
 7   조치사항     495 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.1+ KB

In [11]:
data.isnull().sum()

연번         0
환자         0
확진일        0
성별(출생년)    0
거주지        0
여행력        0
접촉력        0
조치사항       0
dtype: int64