<a href="https://colab.research.google.com/github/Zero-Sik/Python_learning/blob/master/Python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트
 - 여러개의 값을 담을 수 있는 변수

In [0]:
list1 = [1,2,3,4]

- 값을 읽어오기
 - 리스트를 사용할떄는 0번째가 첫번째.
 - 첫번째 값 list1[0]
 - 두번째 값 list2[1]
 - 뒤에서 첫번째 값 list1[-1]
 - 뒤에서 두번째 값 list1[-1]
 - 리스트에 들어있는 값 보다 큰 값을 읽어오려고 하면 에러 
  - 예) 위의 list1에서 list1[5] 또는 list1[-6]은 에러
  - 값 쓰기
   - 변수와 같이 list1[0]=10 이라고 하면 list의 첫 번째 값이 10으로 변경

# 리스트 수정
 ### 리스트에 새로운 값을 추가하는 방법

  - list= [1,2,3] 이라고 할 때 
  - .append()를 이용
   - list1.append(4)
   - append를 이용하면 리스트에 새로운 값이 뒤에 추가
   - 자바스크립트의 .push()메소드와 유사한 기능
  - 뒤에 새로운 리스트를 더하기
   - list2=list1+[4]
   - list1은 그대로 두고 새로운 리스트를 만들어 낸다

# 리스트에 해당 값이 들어있는지 확인하는 방법
 - 자바스크립트의 Array.includes(), indexOf() 메소드와 유사한 기능
 - **in 연산**을 이용

In [0]:
# 12라는 값이 리스트에 들어있는지 확인 하는 코드

list1 = [1,2,3,4]
n = 12
if n in list1: #Boolean 값 변환
 print('{}가 리스트에 있다.'.format(n))

- 리스트에서 필요 없는 값을 지우는 방법
 - del을 이용해서 특정 위치의 값을 지우기
  - del list1[10] 리스트의 10번째 값을 지워라
  - del (list1[10))
- remove를 이용해서 특정 값을 지우기
 - list1.remove(40)을 하면 리스트에 40이라는 값이 있는 경우 삭제
 - 여러개의 값이 있는 경우 가장 앞에 있는 하나만 지워짐.

In [0]:
list = [1, 5, 10, 15, 20, 10]

del(list[1]) # [1, 10, 15, 20, 10, 30]
del list[0] # 10, 15, 20, 10 ,30


list.remove(15)
list.remove(10)

- 파아썬 파트 7. for in 반복문, ㄱange, enumerate


 ### for in list

  - 코드를 필요한만큼 반복해서 실행

In [6]:
list = ['일', '이', '삼', '사', '오']

for v in list:
   print(v)

일
이
삼
사
오

 - 리스트 patterns의 값을 하나씩 꺼내 pattern으로 전달
 - 리스트의 길이만큼 print(pattern) 실행

# 자바스크립트 for in 과의 차이점

In [7]:
for (v in list){
    console.log(v)
}

SyntaxError: ignored

# for in range


 ## range 함수
  - 필요한 만큼의 숫자를 만들어내는 유용한 기능
  -range([start[,step])는 for문과 함꼐 자주 사용되는 함수이다. 이 함수는 입력 받는 숫자에 해당되는 범위의 값을 반복 가능한 객체로 만들어 리턴 한다.

In [15]:
list(range(5))


list(range(5,10))


range(1, 10, 3)

range(20, 10, -2)

TypeError: ignored

In [16]:
for i in range(5):
   print(i)

0
1
2
3
4

- for in list : 순화할 리스트가 정해져 있을 때 사용
- for in range : 순회할 횟수가 정해져 있을 떄 사용

# len 함수
 - len(s)은 입력값 s의 길이(요소의 전체 개수)를 리턴하는 함수이다.

In [17]:
len('Python')

6

In [19]:
len([1,2,3])
len((1,'a'))

2

In [25]:
rainbow=['빨','주','노','초','파','남','보',]

for i in range(len(rainbow)):
  color = rainbow[i]
  print('{}번째 색은 {}'.format(i+1,color))

1번째 색은 빨
2번째 색은 주
3번째 색은 노
4번째 색은 초
5번째 색은 파
6번째 색은 남
7번째 색은 보

# enumerate 함수
 - 리스트가 있는 경우 순서와 리스트의 값을 전달하는 기능
 - enumerate는 "열거하다"라는 뜻이다. 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴한다.
 - 보통 enumerate 함수는 아래 예제처럼 For문과 함께 자주 사용된다.

In [26]:
for i, name in enumerate(['body','foo','bar']):
   print(i, name)  # 이 함수를 같이 써줄 경우 인데스 값 포함하는 객체를 리턴.

0 body
1 foo
2 bar

- for문처럼 반복되는 구간에서 객체가 현재 어느 위치에 있는지 알려주는 인덱스 값이 필요할 때 enumerate 함수를 사용하면 매우 유용하다

In [27]:
names = ['철수', '영희','영수']
for i, name in enumerate(names):
  print('{}번: {}'.format(i+1,name))

1번: 철수
2번: 영희
3번: 영수