<a href="https://colab.research.google.com/github/Zero-Sik/Python_learning/blob/master/Python_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#주석 
-- 파이썬 주석은 이렇게 작성합니다

In [0]:
"""
여러줄 주석은 이렇게 작성합니다.
"""

# 변수 - 작성기본

In [0]:
name = 'youngsik'
hobby = '달리기'

# 변수 - 문자, 숫자

In [0]:
name = 'Zero-Sik'
# 텍스트 두갤ㄹ 더 하면 문자열이 이어 붙여짐.
nick_name = '초보' + 'Zero-Sik'

# 숫자 변수

In [0]:
my_age = 2
my_age + 1 # 3 - 더하기
my_age * 3 # 6 - 곱하기
my_age /2 # 1 0 나누기
my_age ** 10 # 1024 - 거듭제곱
my_age % 2 # 0 - 나머지

0

#Part2

#조건문 문법

In [0]:
people = 5 
apple = 3

if people > apple:
  print("사람이 많아, 사과를 나눠줄 수 없습니다.")

사람이 많아, 사과를 나눠줄 수 없습니다.

#비교


### 비교의 결과는 True 또는 False
### 숫자 비교
    - 크다 
      - 0 < 10
    - 크거나 같다, 작거나 같다
      - 3 <= 10
    - 같다
      - 5 == 5
    - 같지 않다
      - 5 != 10
### Boolen 연산
    - and 연산
     - 두 조건이 모두 참인지를 체크
    - or
     - 두 조건 중 하나라도 참이다.
    - not
     - true/false를 뒤집기 위해 사용

In [0]:
a = 20

# 예) a는 20대이다.
20 <= a and a < 30
# 예) a는 18세 미만 또는 60세 이상이다.
a < 18 or 60 <= a

False

## else 와 elif

 ### else
   - if의 조건이 맞지 않는 경우 항상 실행
   - 반드시 if뒤에 나와야 한다.

In [0]:

if mine == yours:
  result - DRAW
else:
  result = '이기거나 지거나'

#elif

In [0]:
#else 와 if의 결합으로 조건이 맞지 않는 경우 다른 경우를 검사
# 기능의 차이가 아닌 보이는 것의 차이

if mine == SCISSOR:
  result = '가위' #조건이 참일 때 실행
elif mine == ROCK: 
  result = '바위' # 다른 조건이 참일 때 실행
else:
  result = '나머지' # 조건이 거짓일 때 실행.

#매개변수와 실행인자

### 매개변수
  - 함수를 정의할 때 사용하는 이름

### 실행인자
 - 함수를 실행 할 때 넘기는 변수, 값


 ## 매개변수와 실행인자
  - 매개변수와 실행 인자의 개수는 동일해야 한다.
  - 여러 개일 경우 쉼표로 구분

In [2]:
# 함수의 영역
def print_round(number):
  rounded = round(number) # 반올림 함수 round()
  print(rounded)


# 함수의 호출

print_round(4.6) # 5
print_round(2.2) # 2

5
2

# 함수 - return
 - return을 이용해 값을 돌려줄 수 있다.

In [0]:
def add_10(value):
  result = value + 10
  return result
  n = add_10(5)
  print(n)

- 여러 값 변환
 - return 뒤에 여러 값을 쉼표로 구분해서 값을 보내고, 받을때도 쉼표로 구분하여 받는다.

In [6]:
def add(a, b):
  plus = a + b
  multiply = a * b
  return plus, multiply


r1, r2 = add(2, 3)
print(r1) # 5
print(r2) # 6

5
6