# Titanic Machine Learning from Disaster

# - Introduction 
 - This is my first work of machine learning. the Colab is written in python and has inspired from "Exploring Survival on Titanic" by Megan Risdal, a Kermel in R on kaggle

# Feature Engineering





### 1. Pclass
 - there is no missing value on this feature and already a numerical value. so let's check it's impact on our train set.

### 2. Sex

### SibSp and Parch
 - With the number of sibing/spouse and the number of children/parents we can create new feature called Familt Size.

### 4. Embarked
 -the embarked feature has some missing value. and we try to fill those with the most occurred value ( 'S' ).

### Fare
- Fare also has some missing value and we will replace it with the median. then we categorize it into 4 ranges.

### Age
- we have plenty of missing values in this feature. # generate random numbers between (mean - std) and (mean + std). then we categorize age into 5 range.

### Name
 - inside this feature we can find the title of people.

## Data Cleaning

## Classifier Comparison

## Prediction